.left_side{
  float: left;
  width: 30%;
}

.right_side{
  float: right;
  width: 70%;
}

@media print {
  *{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }

  header, footer{
    display: none !important;   
  }

  button{
    display: none !important;
  }
}