<section>
    <div class="d-flex">
        <div class="left_side px-5 pt-5" style="background-color:#EEE6D3;">

            <section class="contact">

                <div class="d-flex flex-column sub-header">
                    <h1 class="fs-1">Contact</h1>

                    <h4 class="tags pt-2">Mumbai</h4>

                    <h4 class="tags pt-2">
                        <a [href]="'tel:'">Phone</a>
                    </h4>

                    <h4 class="tags pt-2">
                        <a [href]="">Gmail</a>
                    </h4>

                    <h4 class="tags pt-2">
                        <a [href]="" target="_blank">Github</a>
                    </h4>

                    <h4 class="tags pt-2">
                        <a [href]="" target="_blank">LinkedIn</a>
                    </h4>

                </div>
            </section>

            <section class="about-me">
                <p class="fs-2 fw-bold mt-2 mb-0">About Me</p>
                <span class="fs-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda corrupti laborum odit tempora,
                    iste recusandae repellat! Debitis rem quaerat facere ratione iure facilis in accusantium doloribus
                    fuga adipisci possimus tenetur nesciunt, labore necessitatibus iusto similique consectetur optio
                    eius maiores sit?
                </span>
            </section>

            <section class="skills">
             <p class="fs-2 fw-bold pt-2" >Skills</p>
             <ul class="px-4">
                <li class="lh-base fs-4">skill - 1</li>
                <li class="lh-base fs-4">skill - 1</li>
                <li class="lh-base fs-4">skill - 1</li>
                <li class="lh-base fs-4">skill - 1</li>
                <li class="lh-base fs-4">skill - 1</li>
                <li class="lh-base fs-4">skill - 1</li>
             </ul>
            </section>

            <section class="software">
             <p class="fs-2 fw-bold pt-2" >Software</p>
             <ul class="px-4">
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
                <li class="lh-base fs-4">Software - 1</li>
             </ul>
            </section>
        </div>

        <div class="right_side px-5 pt-5" style="background-color: #FFFFFF;">
            <h1 class="fw-bold fs-1">Krishna Sonune</h1>
            <h1 class="fw-bold fs-2">Lead Software Engineer</h1>

            <!-- experience -->
            <section class="about-me">
                <p class="fs-1 fw-bold mt-3 mb-0">Work Experience</p>

                <span>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <span>
                            <span class="fs-3 my-0 fw-bold ">
                                company name - 1
                            </span>
                            -
                            <span class="fs-3 fw-bold">start_date - end_date</span>
                        </span>
                    </div>
                    <div class="fs-5">
                        <span class="fs-3 my-0 fw-bold fst-italic">designation - 1,</span>

                        <span class="fs-3 my-0 fw-bold fst-italic px-2">City - 1</span>
                    </div>
                    <div class="fs-5">
                        <ul>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                        </ul>
                    </div>
                </span>

                <span>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <span>
                            <span class="fs-3 my-0 fw-bold ">
                                company name - 1
                            </span>
                            -
                            <span class="fs-3 fw-bold">start_date - end_date</span>
                        </span>
                    </div>
                    <div class="fs-5">
                        <span class="fs-3 my-0 fw-bold fst-italic">designation - 1,</span>

                        <span class="fs-3 my-0 fw-bold fst-italic px-2">City - 1</span>
                    </div>
                    <div class="fs-5">
                        <ul>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                        </ul>
                    </div>
                </span>

                <span>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <span>
                            <span class="fs-3 my-0 fw-bold ">
                                company name - 1
                            </span>
                            -
                            <span class="fs-3 fw-bold">start_date - end_date</span>
                        </span>
                    </div>
                    <div class="fs-5">
                        <span class="fs-3 my-0 fw-bold fst-italic">designation - 1,</span>

                        <span class="fs-3 my-0 fw-bold fst-italic px-2">City - 1</span>
                    </div>
                    <div class="fs-5">
                        <ul>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                            <li class="lh-base fs-4">description - 1</li>
                        </ul>
                    </div>
                </span>

            </section>

            <!-- Education -->
            <section class="technical">
                <p class="fs-1 fw-bold mt-3 mb-0">Education</p>

                <span>
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fw-bold">Degree - 1, start_date – end_date</span>
                    </div>
                    <div>
                        <div class="fs-4">Mumbai University, Score</div>

                        <div class="fs-4">description</div>
                    </div>
                </span>

                <span>
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fw-bold">Degree - 1, start_date – end_date</span>
                    </div>
                    <div>
                        <div class="fs-4">Mumbai University, Score</div>

                        <div class="fs-4">description</div>
                    </div>
                </span>

                <span>
                    <div class="d-flex justify-content-between">
                        <span class="fs-4 fw-bold">Degree - 1, start_date – end_date</span>
                    </div>
                    <div>
                        <div class="fs-4">Mumbai University, Score</div>

                        <div class="fs-4">description</div>
                    </div>
                </span>
            </section> 
        </div>
    </div>
</section>
<button (click)="download()">Download</button>