<!-- Header -->
<section class="">
    <h1 *ngIf="full_name.length > 0">{{ full_name }}</h1>

    <div class="d-flex flex-row sub-header">
        <h4 class="pr-5 tags" *ngIf="location.length > 0">{{ location }}</h4>

        <h4 class="pr-5 tags" *ngIf="phone.length > 0">
            <a [href]="'tel:' + phone">{{ phone }}</a>
        </h4>

        <h4 class="pr-5 tags" *ngIf="portfolio.length > 0">
            <a [href]="portfolio" target="_blank">Portfolio</a>
        </h4>

        <h4 class="pr-5 tags" *ngIf="gmail.length > 0">
            <a [href]="gmail">Gmail</a>
        </h4>

        <h4 class="pr-5 tags" *ngIf="github.length > 0">
            <a [href]="github" target="_blank">Github</a>
        </h4>

        <h4 class="pr-5 tags" *ngIf="stackoverflow.length > 0">
            <a [href]="stackoverflow" target="_blank">StackOverflow</a>
        </h4>

        <h4 class="pr-5 tags" *ngIf="linkedin.length > 0">
            <a [href]="linkedin" target="_blank">LinkedIn</a>
        </h4>

    </div>
</section>

<!-- about -->

<section class="about-me" *ngIf="about_me.length > 0">
    <p class="fs-3 mt-2 mb-0">About Me</p>
    <hr class="mb-3 mt-0">
    <span class="fs-4 my-0">
        {{about_me}}
    </span>
</section>

<!-- experience -->
<section class="about-me" *ngIf="experiences.length > 0">
    <p class="fs-3 mt-4 mb-0">Experience</p>
    <hr class="mb-3 mt-0">

    <span *ngFor="let experience of experiences">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <span>
                <span class="fs-3 my-0 fw-bold ">
                    {{experience.comp_name}}
                </span>
                -
                <span class="fs-3 my-0 fw-bold fst-italic">{{experience.designation}}</span>
            </span>

            <span class="fs-3 fw-bold">{{experience.start_date}}-{{experience.end_date}}</span>
        </div>
        <div class="fs-5">
            <ul>
                <li class="lh-base" *ngFor="let des of experience.description">{{des}}</li>
            </ul>
        </div>
    </span>

    <!-- <span>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <span>
                <span class="fs-3 my-0 fw-bold ">
                    Zi Systech Pvt Ltd, Mumbai
                </span>
                -
                <span class="fs-3 my-0 fw-bold fst-italic">System Engineer</span>
            </span>

            <span class="fs-3 fw-bold">Nov 2023 – Feb 2024</span>
        </div>
        <div class="fs-5">
            <ul>
                <li>implemented design patterns followed best practices throughout every phase of application
                    development.</li>
                <li>Migrate .NET MVC API to .NET Core Web API and Existing Stored Procedure Queries to LINQ Query of
                    legacy application.</li>
                <li>Built Deployed Applications on multiple environments ( Docker ).</li>
            </ul>
        </div>
    </span>

    <span>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <span>
                <span class="fs-3 my-0 fw-bold ">
                    Infosys Ltd, Pune
                </span>
                -
                <span class="fs-3 my-0 fw-bold fst-italic">Full Stack Developer</span>
            </span>

            <span class="fs-3 fw-bold">July 2021 – Nov 2023</span>
        </div>
        <div class="fs-5">
            <ul>
                <li>Created backend microservices for CRUD operations using ASP.NET Core.</li>
                <li>Implemented security tokens for authentication and authorization (JSON Web Token) in projects to
                    secure backend.</li>
                <li>Integrated a third-party application, Addepar, into existing software for portfolio insights.
                </li>
                <li>Implemented various projects by following Unit of Work, CQRS, and CRS architecture design
                    patterns.</li>
                <li>Enhanced the user interface with frontend skills using HTML5, CSS3,
                    JavaScript/TypeScript/Angular, and created custom animations for the project.</li>
                <li>Proficient in Test-Driven Development (TDD), with a demonstrated ability to write unit tests
                    using frameworks like MSTest, xUnit, and Moq.</li>
            </ul>
        </div>
    </span> -->

</section>

<!-- projects -->
<section class="projects" *ngIf="projects.length > 0">
    <p class="fs-3 mt-5 mb-0">Projects</p>
    <hr class="mb-3 mt-0">

    <div>
        <div class="fs-5 p-1" *ngFor="let project of projects"><a href={{project.link}} class="fs-5">{{project.title}} |
                {{project.technologies.join(' ')}}</a>
            {{project.description}}</div>

        <!-- <div class="fs-5 p-1"><a href="" class="fs-5">API Gateway Service | Dotnet Core </a> implemented Gateway
            service to route client’s requests to the appropriated microservices.</div>


        <div class="fs-5 p-1"><a href="" class="fs-5">In-Memory Caching | Dotnet Core, SQL Server</a> implemented
            In-Memory Caching Mechanism for faster retrieval of data in
            microservices.</div> -->

    </div>
</section>

<!-- Technical skills -->
<section class="technical" *ngIf="technical_skills.length > 0">
    <p class="fs-3 mt-4 mb-0">Technical Skills</p>
    <hr class="mb-3 mt-0">

    <div class="fs-5">
        {{technical_skills}}
    </div>
</section>

<!-- Education -->
<section class="technical" *ngIf="degrees.length > 0">
    <p class="fs-3 mt-4 mb-0">Education</p>
    <hr class="mb-3 mt-0">

    <div>
        <div class="d-flex justify-content-between" *ngFor="let degree of degrees">
            <span class="fs-5">{{degree.degree}}, {{degree.institution}} {{degree.score}}</span>

            <!-- <ng-template #breakblock>
                <span class="fs-5">
                    {{degree.degree}}, 
                    <br>
                    {{degree.institution}} {{degree.score}}
                </span>
            </ng-template> -->

            <span class="fs-5">{{degree.start_date}} – {{degree.end_date}}</span>
        </div>
    </div>

</section>

<!-- Achievements -->
<section class="achievements">

    <div class="container-fluid">
        <div class="row p-3">
            <span class="col-4" *ngIf="certifications.length > 0">
                <p class="fs-3 mt-4 mb-0">Certifications</p>
                <hr class="mb-3 mt-0">

                <span class="fs-5">
                    <ul class="m-0 p-0">
                        <li *ngFor="let certification of certifications">{{certification.title}}
                            {{certification.issuer}}</li>
                    </ul>
                </span>
            </span>

            <span class="col-4" *ngIf="achievements.length > 0">
                <p class="fs-3 mt-4 mb-0">Achievements</p>
                <hr class="mb-3 mt-0">

                <span class="fs-5">
                    <ul class="m-0 p-0">
                        <li *ngFor="let achievement of achievements">{{achievement.title}} {{achievement.description}}
                        </li>
                    </ul>
                </span>
            </span>

            <span class="col-4" *ngIf="interests.length > 0">
                <p class="fs-3 mt-4 mb-0">Interests</p>
                <hr class="mb-3 mt-0">

                <span class="fs-5">
                    <ul class="m-0 p-0">
                        <li *ngFor="let interest of interests">{{interest.name}}</li>
                    </ul>
                </span>
            </span>
        </div>
    </div>

</section>

<button class="btn btn-outline-primary fs-3" (click)="downloadpdf()" *ngIf="userProfile != null">Download Resume</button>


<!-- optional templates -->