

.sub-header{
    gap: 0 0.7rem;
}

.sub-header > h4, a{
    font-size: 1.5rem;
}

.sub-header > h4 > a{
  text-decoration: none;
}

.sub-header > h4 > a:hover{
  text-decoration: underline;
}

@media print {
  header, footer{
    display: none !important;   
  }

  button{
    display: none;
  }
}
